:root {
  --color-primary: #f04f25;
  --color-primary-light: #ffffff;
  --color-primary-dark: #000000;
  --color-secondary: #2b2829;
  --color-accent: #474747;

  --font-secondary: "Roboto Condensed", sans-serif;
  --font-primary: "Open Sans", sans-serif;

}

a {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
}

p {
  font-family: var(--font-primary);
}
