:root {
  --color-primary: #f04f25;
  --color-primary-light: #ffffff;
  --color-primary-dark: #000000;
  --color-secondary: #2b2829;
  --color-accent: #474747;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

}
