:root {
  --color-primary:
  --color-primary-medium:;
  --color-primary-dark:
  --color-secondary:
  --color-accent:
  --color-white: #ffff;

  --font-primary:

  font-family: 'Roboto Condensed', sans-serif;

}
