.btn {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  background-color: var(--color-primary-light);
}

.btn:hover {
  color: #fff;
  transition: all 200ms linear;
}

a {
  font-family: var(--font-secondary) !important;
}
