.btn {
  color: var(--color-primary-dark);
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.btn:hover {
  transition: all 100ms linear;
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  border-color: var(--color-primary-light);
}

a {
  font-family: var(--font-secondary) !important;
}
