<div class="grid grid-middle text-center">
  <div class="unit xs-1-3">
    <a class="milli {% if page.highlight_nav == 'portfolio' %}current{% endif %}" href="/">PORTFOLIO</a>
  </div>
  <div class="unit xs-1-3">
    <div class="logo">
      <a class="block" href="#">
        <img class="img-flex" src="/images/logo.svg" alt="">
      </a>
    </div>
  </div>
  <div class="unit xs-1-3">
    <a class="milli {% if page.highlight_nav == 'about' %}current{% endif %}"  href="/about/">ABOUT</a>
  </div>
</div>

<div class="grid">
  <ul class="unit xs-1-2 s-1-2">
    <li><a href="portfolio.html">PORTFOLIO</a></li>
    <li><a href="about.html">ABOUT</a></li>
  </ul>
</div>

<div class="unit xs-1-2 s-1-2">
  <img class="img-flex" src="/images/logo.svg" alt="">
</div>
