.image-size {
  max-width: 150px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-primary-dark);
  letter-spacing: 5px;
  font-size: 20px;
}

a:hover {
  font-weight: 800;
  transform: scale(1.09);
  transition: all 100ms linear;
  letter-spacing: 8px;
}

.current {
  text-decoration: line-through;
  font-weight: 400;
  letter-spacing: 8px;
}

.logo {
  max-width: 64px;
  margin: 0 auto;
}

@media only screen and (min-width: 38em) {

  .logo {
    max-width: 150px;
  }

}
