.image-size {
  max-width: 200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-primary-dark);
  letter-spacing: 1px;
}

a:hover {
  font-weight: 800;
  transform: scale(1.09);
  transition: all 10ms linear;
  letter-spacing: 3px;
}

.current {
  text-decoration: line-through;
}
