.project-title {
  color: var(--color-primary);
}

h3 {
  letter-spacing: 7px;
  font-weight: 300;
  font-size: 18px;
}

hr {
  width: 60px;
}

h2 {
  letter-spacing: 4px;
}

p {
  color: var(--color-accent);
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

grid:hover {
  display: flex;
  flex-wrap: wrap;
}

.create {
  font-weight: 300;
}

.img-flex {
  style: float;
}
