.project-title {
  color: var(--color-primary);
}

h3 {
  letter-spacing: 3px;
  font-weight: 400;
}

hr {
  width: 50px;
}

h2 {
  letter-spacing: 2px;
}

p {
  color: var(--color-accent);
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

grid:hover {
  display: flex;
  flex-wrap: wrap;
}

.create {
  font-weight: 300;
}

.img-flex {
  style: float;
}
