<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404 · Alex Healy</title>
    <meta name="description" content="Something went wrong page.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="ICBM" content="45.41117,-75.69812">
    <meta name="geo.position" content="45.41117,-75.69812">
    <meta name="geo.region" content="ca-on">
    <meta name="geo.placement" content="Ottawa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto+Condensed:400,700&display=swap">
  </head>
  <body>

    {% pattern header/header %}
    {{content}}
    {% pattern footer/footer %}

  </body>
</html>
